In [220]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [221]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [222]:
soup=BeautifulSoup(page.text,'html.parser')

In [223]:
players=[]
team=[]
ratings=[]

In [224]:
one=soup.find_all('tr', {'class':'rankings-block__banner'})

In [225]:
one

[<tr class="rankings-block__banner">
 <td class="rankings-block__position">1</td>
 <td class="rankings-block__top-player-container">
 <div class="u-flex-center u-text-left">
 <div class="rankings-block__player-image-container rankings-block__player-image-container--large">
 <a href="/rankings/mens/player-rankings/164">
 <img alt="Player Image" class="rankings-block__player-image image-missing" data-error="true" data-player="164" data-size="130x150" data-widget="player-image" src="//resources.pulse.icc-cricket.com/players/130x150/Photo-Missing.png"/>
 </a>
 </div>
 <div>
 <a href="/rankings/mens/player-rankings/164"><div class="rankings-block__banner--name-large">Virat Kohli</div></a>
 </div>
 </div>
 </td>
 <td>
 <div class="rankings-block__banner--nationality">
 <div class="flag-15 IND"></div>
 <span class="rankings-block__banner--nation"></span>IND</div></td></tr>]

In [226]:
first=one[0]

In [227]:
t=first.find("div",class_="rankings-block__banner--name-large").text.replace('\n',"")
players.append(t)

In [228]:
c=first.find("div",class_="rankings-block__banner--nationality").text.replace('\n',"")
team.append(c)

In [229]:
k=soup.find("div",class_="rankings-block__banner--rating").text

ratings.append(k)

In [230]:
play=soup.find_all("tr", class_="table-body")

In [231]:
for i in play:
    n=i.find("td",class_="table-body__cell rankings-table__name name").text.replace('\n',"")
    players.append(n)
    t=i.find("td",class_="table-body__cell nationality-logo rankings-table__team").text.replace('\n',"")
    team.append(t)
    r=i.find("td",class_="table-body__cell rating").text.replace('\n',"")
    ratings.append(r)

In [232]:
players=players[0:10]
team=team[0:10]
ratings=ratings[0:10]

In [233]:
data=list(zip(players,team,ratings))

In [234]:
df=pd.DataFrame(data,columns=["Player","Country","Rating"])

In [236]:
df

                Player Country Rating
0          Virat Kohli     IND    870
1         Rohit Sharma     IND    842
2           Babar Azam     PAK    837
3          Ross Taylor      NZ    818
4          Aaron Finch     AUS    791
5  Francois du Plessis      SA    790
6         David Warner     AUS    773
7      Kane Williamson      NZ    765
8      Quinton de Kock      SA    755
9       Jonny Bairstow     ENG    754