In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [134]:
page1=requests.get("https://bookpage.com/reviews/25880-cherie-jones-how-one-armed-sister-sweeps-her-house-fiction#.YBz5zuhKjIU")

In [135]:
soup1=BeautifulSoup(page1.text, "html.parser")

In [136]:
page2=requests.get('https://bookpage.com/reviews/25835-syed-m-masood-bad-muslim-discount-fiction#.YB0V7OhKjIU')

In [137]:
soup2=BeautifulSoup(page2.text,"html.parser")

In [138]:
page3=requests.get('https://bookpage.com/reviews/25896-dayna-lorentz-feather-childrens#.YB0asuhKjIU')

In [139]:
soup3=BeautifulSoup(page3.text,"html.parser")

In [140]:
page4=requests.get('https://bookpage.com/reviews/21400-gordon-korman-bullys-second-chance-childrens#.YB0a6ehKjIU')

In [141]:
soup4=BeautifulSoup(page4.text,"html.parser")

In [142]:
page5=requests.get('https://bookpage.com/reviews/25878-sarah-langan-good-neighbors-fiction#.YB0a1ehKjIU')

In [143]:
soup5=BeautifulSoup(page5.text,"html.parser")

In [144]:
book1=soup1.find("div",class_='row-fluid book-details-hero')

In [145]:
book2=soup2.find("div",class_='row-fluid book-details-hero')

In [146]:
book3=soup3.find("div",class_='row-fluid book-details-hero')

In [147]:
book4=soup4.find("div",class_='row-fluid book-details-hero')

In [148]:
book5=soup5.find("div",class_='row-fluid book-details-hero')

In [181]:
def book_reviews(book,soup):
        b_name1=soup.find('h1',class_='italic').get_text().replace('\n','')
        author=soup.find('h4',class_='sans').get_text().replace('\n','')
        genre=soup.find('p',class_='genre-links').get_text().replace('\n','')
        review_=soup.find('div',class_='article-body').get_text().replace('\n','')
        return b_name1,author,genre,review_

In [190]:
Book1=book_reviews(book1,soup1)

In [191]:
Book2=book_reviews(book2,soup2)

In [192]:
Book3=book_reviews(book3,soup3)

In [203]:
Book4=book_reviews(book4,soup4)

In [194]:
Book5=book_reviews(book5,soup5)

In [200]:
Book=[Book1,Book2,Book3,Book4,Book5]

In [201]:
df=pd.DataFrame(Book,)

In [202]:
df.head()

,0,1,2,3
0,How the One-Armed Sister Sweeps Her House,Cherie Jones,Fiction / Literary Fiction,In her engrossing and darkly lyrical debut nov...
1,The Bad Muslim Discount,Syed M. Masood,Fiction / Coming of Age,The Bad Muslim Discount starts off in darkly c...
2,Of a Feather,Dayna Lorentz,Children's / Middle Grade,Rufus the great horned owl is the self-declare...
3,Restart,Gordon Korman,Children's / Children's Chapter,Award-winning author Gordon Korman has a knack...
4,Good Neighbors,Sarah Langan,Fiction / Popular Fiction,In this disquieting tale by three-time Bram St...

In [226]:
df.rename(columns={0:"Book Name",1:"Author",2:"Genre",3:"Review"},inplace=True)

In [228]:
df

,Book Name,Author,Genre,Review
0,How the One-Armed Sister Sweeps Her House,Cherie Jones,Fiction / Literary Fiction,In her engrossing and darkly lyrical debut nov...
1,The Bad Muslim Discount,Syed M. Masood,Fiction / Coming of Age,The Bad Muslim Discount starts off in darkly c...
2,Of a Feather,Dayna Lorentz,Children's / Middle Grade,Rufus the great horned owl is the self-declare...
3,Restart,Gordon Korman,Children's / Children's Chapter,Award-winning author Gordon Korman has a knack...
4,Good Neighbors,Sarah Langan,Fiction / Popular Fiction,In this disquieting tale by three-time Bram St...