In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [3]:
soup=BeautifulSoup(page.text,'html.parser')

In [4]:
players=[]
team=[]
ratings=[]

In [7]:
t=soup.find("div",class_="rankings-block__banner--name-large").text.replace('\n',"")
players.append(t)

In [8]:
players

['Trent Boult']

In [9]:
c=soup.find("div",class_="rankings-block__banner--nationality").text.replace('\n',"")
team.append(c)

In [11]:
k=soup.find("div",class_="rankings-block__banner--rating").text
ratings.append(k)

In [15]:
playe=soup.find_all("tr", class_="table-body")

In [16]:
for i in playe:
    n=i.find("td",class_="table-body__cell rankings-table__name name").text.replace('\n',"")
    players.append(n)
    te=i.find("td",class_="table-body__cell nationality-logo rankings-table__team").text.replace('\n',"")
    team.append(te)
    r=i.find("td",class_="table-body__cell rating").text.replace('\n',"")
    ratings.append(r)

In [17]:
players=players[0:10]
team=team[0:10]
ratings=ratings[0:10]

In [18]:
data=list(zip(players,team,ratings))

In [19]:
df=pd.DataFrame(data,columns=["Player","Country","Rating"])

In [20]:
df

              Player Country Rating
0        Trent Boult      NZ    722
1   Mujeeb Ur Rahman     AFG    708
2     Jasprit Bumrah     IND    700
3       Mehedi Hasan     BAN    694
4       Chris Woakes     ENG    675
5      Kagiso Rabada      SA    665
6     Josh Hazlewood     AUS    660
7  Mustafizur Rahman     BAN    658
8      Mohammad Amir     PAK    647
9        Pat Cummins     AUS    646