In [169]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [170]:
page=requests.get("https://www.imdb.com/list/ls009997493/")

In [171]:
soup=BeautifulSoup(page.text, "html.parser")

In [172]:
titles1 = []
years1 = []
imdb_ratings1 = []

In [173]:
movie_div = soup.find_all('div', class_='lister-item mode-detail')

In [179]:
new=movie_div[90]
new.h3.a.text

'Sarkar'

In [175]:
new.find("span",class_="ipl-rating-star__rating").text

'7.6'

In [176]:
new.find("span",class_='lister-item-year').text

'(2005)'

In [177]:
for i in movie_div:
    titles1.append(i.h3.a.text)
    year=i.find("span",class_="lister-item-year").text
    years1.append(year)
    ratings=i.find("span",class_='ipl-rating-star__rating').text
    imdb_ratings1.append(ratings)

In [183]:
movies100 = pd.DataFrame({
'Movie': titles1,
'Releasing_year': years1,
 'Imdb_Ratings':imdb_ratings1
})

In [184]:
movies100['Releasing_year'] = movies100['Releasing_year'].str.extract('(\d+)').astype(int)

In [185]:
movies100.head()

                    Movie  Releasing_year Imdb_Ratings
0         Rang De Basanti            2006          8.2
1                3 Idiots            2009          8.4
2        Taare Zameen Par            2007          8.4
3          Dil Chahta Hai            2001          8.1
4  Swades: We, the People            2004          8.2