In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
page=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")

In [3]:
soup = BeautifulSoup(page.text, "html.parser")

In [4]:
titles = []
years = []
imdb_ratings = []

In [5]:
movie_div = soup.find_all('div', class_='lister-item mode-advanced')

In [6]:
for container in movie_div:
    name = container.h3.a.text
    titles.append(name)
    year = container.h3.find('span', class_='lister-item-year').text
    years.append(year)
    imdb = float(container.strong.text)
    imdb_ratings.append(imdb)

In [7]:
print(len(years))

50

In [8]:
movies50 = pd.DataFrame({
'Movie': titles,
'Releasing_year': years,
'Imdb': imdb_ratings,
})

In [9]:
movies50.head()

                      Movie Releasing_year  Imdb
0  The Shawshank Redemption         (1994)   9.3
1             The Godfather         (1972)   9.2
2           The Dark Knight         (2008)   9.0
3    The Godfather: Part II         (1974)   9.0
4              12 Angry Men         (1957)   9.0

In [13]:
movies50['Releasing_year'] = movies50['Releasing_year'].str.extract('(\d+)').astype(int)

# For next 50 movies

In [14]:
page2=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")

In [15]:
soup2=BeautifulSoup(page2.content,'html.parser')

In [16]:
titles2=[]
years2=[]
imdb_ratings2=[]

In [17]:
movie_div2 = soup.find_all('div', class_='lister-item mode-advanced')

In [18]:
for i in movie_div2:
    name2 = i.h3.a.text
    titles2.append(name2)
    year2 = i.h3.find('span', class_='lister-item-year').text
    years2.append(year2)
    imdb2 = float(i.strong.text)
    imdb_ratings2.append(imdb2)

In [19]:
print(len(imdb_ratings2))

50

In [20]:
movies_2_50 = pd.DataFrame({
'Movie': titles2,
'Releasing_year': years2,
'Imdb': imdb_ratings2,
})

In [21]:
movies_2_50['Releasing_year'] = movies_2_50['Releasing_year'].str.extract('(\d+)').astype(int)

In [22]:
movies_2_50.head()

                      Movie  Releasing_year  Imdb
0  The Shawshank Redemption            1994   9.3
1             The Godfather            1972   9.2
2           The Dark Knight            2008   9.0
3    The Godfather: Part II            1974   9.0
4              12 Angry Men            1957   9.0

In [24]:
movies_100=movies50.append(movies_2_50,ignore_index=True)

In [25]:
movies_100

                           Movie  Releasing_year  Imdb
0       The Shawshank Redemption            1994   9.3
1                  The Godfather            1972   9.2
2                The Dark Knight            2008   9.0
3         The Godfather: Part II            1974   9.0
4                   12 Angry Men            1957   9.0
..                           ...             ...   ...
95                Hotaru no haka            1988   8.5
96            Back to the Future            1985   8.5
97  Once Upon a Time in the West            1968   8.5
98                        Psycho            1960   8.5
99                    Casablanca            1942   8.5

[100 rows x 3 columns]

In [29]:
movies_100.to_csv('top_100_rated_movies')