In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling")

In [3]:
soup=BeautifulSoup(page.text,'html.parser')

In [4]:
players_bow=[]
team_bow=[]
ratings_bow=[]

In [6]:
first=soup.find("div",class_="rankings-block__banner--name-large").text.replace('\n',"")
players_bow.append(first)

In [7]:
c=soup.find("div",class_="rankings-block__banner--nationality").text.replace('\n',"")
team_bow.append(c)

In [8]:
k=soup.find("div",class_="rankings-block__banner--rating").text
ratings_bow.append(k)

In [9]:
female_players_bowlers=soup.find_all("tr", class_="table-body")

In [10]:
for i in female_players_bowlers:
    n=i.find("td",class_="table-body__cell rankings-table__name name").text.replace('\n',"")
    players_bow.append(n)
    te=i.find("td",class_="table-body__cell nationality-logo rankings-table__team").text.replace('\n',"")
    team_bow.append(te)
    r=i.find("td",class_="table-body__cell rating").text.replace('\n',"")
    ratings_bow.append(r)

In [11]:
players_bow=players_bow[0:10]
team_bow=team_bow[0:10]
ratings_bow=ratings_bow[0:10]

In [12]:
data=list(zip(players_bow,team_bow,ratings_bow))

In [13]:
df=pd.DataFrame(data,columns=["Player","Country","Rating"])

In [14]:
df

           Player Country Rating
0   Jess Jonassen     AUS    804
1    Megan Schutt     AUS    735
2  Marizanne Kapp      SA    711
3  Shabnim Ismail      SA    708
4  Jhulan Goswami     IND    691
5    Poonam Yadav     IND    679
6   Shikha Pandey     IND    675
7    Ellyse Perry     AUS    666
8  Anya Shrubsole     ENG    645
9   Deepti Sharma     IND    639