In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [3]:
soup=BeautifulSoup(page.text,'html.parser')

In [4]:
team=[]
matches=[]
ratings=[]
points=[]

In [5]:
one=soup.find_all('tr', attrs={'class','rankings-block__banner'})

In [6]:
one

[<tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="rankings-block__banner--matches">15</td>
 <td class="rankings-block__banner--points">2,436</td>
 <td class="rankings-block__banner--rating u-text-right">
                             162
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>]

In [7]:
first=one[0]

In [8]:
t=first.find("td",class_="rankings-block__banner--team-name").text.replace('\n',"")
t

'AustraliaAUS'

In [9]:
t=t.replace("ENG","")
team.append(t)

In [10]:
m=first.find("td",class_="rankings-block__banner--matches").text.replace('\n',"")
matches.append(m)

In [11]:
p=first.find("td",class_="rankings-block__banner--points").text.replace('\n',"")
points.append(p)

In [12]:
r=first.find("td",class_="rankings-block__banner--rating").text.replace('\n',"")
r

'                            162                            '

In [13]:
# Python3 code to remove whitespace 
def remove(string): 
    return "".join(string.split()) 
      
# Driver Prog
print(remove(r))

162

In [14]:
ratings.append(remove(r))

In [15]:
other_teams=soup.find_all("tr", class_="table-body")

In [16]:
other_teams

[<tr class="table-body" data-team-id="31">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">1,812</td>
 <td class="table-body__cell u-text-right rating">121</td>
 </tr>,
 <tr class="table-body" data-team-id="28">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="table-body__cell u-center-text">14</td>
 <td class="table-body__cell u-center-text">1,670</td>
 <td class="table-body__cell u-text-right rating">119</td>
 </tr>,
 <tr class="table-body" data-team-id="25">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">19</td>
 <td class="table-body__cell u-center-text">2,090</td>
 <td class="table-body__cell u-text-right rating">110</td>
 </tr>,
 <tr class="table-body" data-team-id="26">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">1,384</td>
 <td class="table-body__cell u-text-right rating">92</td>
 </tr>,
 <tr class="table-body" data-team-id="27">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">12</td>
 <td class="table-body__cell u-center-text">1,025</td>
 <td class="table-body__cell u-text-right rating">85</td>
 </tr>,
 <tr class="table-body" data-team-id="29">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">1,101</td>
 <td class="table-body__cell u-text-right rating">73</td>
 </tr>,
 <tr class="table-body" data-team-id="170">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">5</td>
 <td class="table-body__cell u-center-text">306</td>
 <td class="table-body__cell u-text-right rating">61</td>
 </tr>,
 <tr class="table-body" data-team-id="24">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">11</td>
 <td class="table-body__cell u-center-text">519</td>
 <td class="table-body__cell u-text-right rating">47</td>
 </tr>,
 <tr class="table-body" data-team-id="162">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>
 <td class="table-body__cell u-center-text">2</td>
 <td class="table-body__cell u-center-text">25</td>
 <td class="table-body__cell u-text-right rating">13</td>
 </tr>]

In [20]:
len(other_teams)

9

In [25]:
for i in other_teams:
    tea=i.find("span",class_="u-hide-phablet").text.replace('\n',"")
    team.append(tea)
    rate=i.find("td",class_="table-body__cell u-text-right rating").text.replace('\n',"")
    ratings.append(rate)
    rows = soup.find_all('td',class_="table-body__cell u-center-text")
    for inn in range(0,10,2):
        mm=rows[inn].text
        matches.append(mm)
    for inn in range(1,10,2):
        pp=rows[inn].text
        points.append(pp)

In [26]:
teams=team[0:10]
matches=matches[0:10]
ratings=ratings[0:10]
points=points[0:10]

In [27]:
data=list(zip(teams,matches,points,ratings))

In [28]:
df=pd.DataFrame(data,columns=["Team Name","Matches Played","Points","Ratings"])

In [29]:
df

      Team Name Matches Played Points Ratings
0  AustraliaAUS             15  2,436     162
1         India             15  1,812     121
2         India             14  1,670     121
3         India             19  2,090     121
4         India             15  1,384     121
5       England             12  1,025     119
6  South Africa             15  1,101     110
7   New Zealand              5    306      92
8   West Indies             11    519      85
9      Pakistan              2     25      73