In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [16]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

In [17]:
soup=BeautifulSoup(page.text,'html.parser')

In [18]:
fe_players=[]
fe_team=[]
fe_ratings=[]

In [19]:
first=soup.find("div",class_="rankings-block__banner--name-large").text.replace('\n',"")
fe_players.append(first)

In [20]:
c=soup.find("div",class_="rankings-block__banner--nationality").text.replace('\n',"")
fe_team.append(c)

In [21]:
k=soup.find("div",class_="rankings-block__banner--rating").text
fe_ratings.append(k)

In [22]:
female_playe=soup.find_all("tr", class_="table-body")

In [23]:
for i in female_playe:
    n=i.find("td",class_="table-body__cell rankings-table__name name").text.replace('\n',"")
    fe_players.append(n)
    te=i.find("td",class_="table-body__cell nationality-logo rankings-table__team").text.replace('\n',"")
    fe_team.append(te)
    r=i.find("td",class_="table-body__cell rating").text.replace('\n',"")
    fe_ratings.append(r)

In [24]:
fe_players=fe_players[0:10]
fe_team=fe_team[0:10]
fe_ratings=fe_ratings[0:10]

In [25]:
data=list(zip(fe_players,fe_team,fe_ratings))

In [26]:
df=pd.DataFrame(data,columns=["Player","Country","Rating"])

In [27]:
df

              Player Country Rating
0        Meg Lanning     AUS    749
1    Stafanie Taylor      WI    746
2       Alyssa Healy     AUS    741
3    Smriti Mandhana     IND    732
4  Amy Satterthwaite      NZ    723
5     Tammy Beaumont     ENG    716
6    Laura Wolvaardt      SA    691
7       Ellyse Perry     AUS    691
8        Mithali Raj     IND    687
9        Lizelle Lee      SA    681